# project
src/content/.obsidian/plugins/**/main.js
src/content/.obsidian/plugins/**/styles.css
src/content/.obsidian/plugins/**/manifest.json
src/content/.obsidian/workspace.json

# build output
dist/
.output/
.vercel/
.astro/

# dependencies
node_modules/

# logs
*.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
