---
import Layout from '../layouts/Base.astro';

import { t } from '../utils/i18n';
import WizardLogo from '../components/wizard/WizardLogo.svg';
import QwixxLogo from '../components/qwixx/QwixxLogo.svg';
---

<Layout title={t.games} description={t.tagline}>
  <ul>
    <li>
      <a href="/wizard" aria-label="Wizard"><WizardLogo /></a>
    </li>
    <li>
      <a href="/qwixx" aria-label="Qwixx"><QwixxLogo /></a>
    </li>
  </ul>
</Layout>

<style>
  ul {
    list-style-type: none;
    display: grid;
    place-content: center;
    gap: var(--layout-gutter);
    min-height: 66vh;
    padding: var(--layout-frame);
  }

  a {
    display: block;
    border-radius: 4px;
    line-height: 1;
  }

  a:focus-visible {
    outline: 2px solid var(--color-fg-subtle);
    outline-offset: 3px;
  }
</style>
