---
import type { Game } from 'astro:db';

import { getPlayers } from '../db';
import { formatDate } from '../utils/date';

export type Props = typeof Game.$inferSelect;

const { id, startedAt, endedAt } = Astro.props;

const players = await getPlayers(id);
---

<div class="game">
  <div>
    <h4>{players?.map((p) => p.name).join(', ')}</h4>
    {formatDate(startedAt)}
  </div>
  {
    endedAt ? (
      <a class="button" href={`/game/${id}/scores`}>
        View
      </a>
    ) : (
      <a class="button primary" href={`/game/${id}`}>
        Resume
      </a>
    )
  }
</div>

<style>
  .game {
    padding: 1rem;
    border: 1px solid var(--color-mg-default);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
